B.hs
A.hi
A.o
A.pdf
opencl/dist
proglet
proglet.hi
proglet.o
opencl/o0
Filt.hi
Filt.o
B.hs
SimplifyExp.hi
SimplifyExp.o
.last-running-container
.latest-image
./example0_power/A.hi
./example0_power/proglet.hi
./example1_filter/Filt.hi
./example1_filter/proglet.hi
./example1_filter/SimplifyExp.hi
./example2_filter/DSL.hi
./example2_filter/Filt.hi
./example2_filter/openclBackEnd.hi
./example2_filter/proglet.hi
./example2_filter/SimplifyExp.hi
./example2_filter/Test.hi
./example2_filter/TopLevel.hi
./example2_filter/Utils.hi
./example2_power/A.hi
./example2_power/proglet.hi
./example3_filter_refactored/codeGenOpenCL.hi
./example3_filter_refactored/ExpSimplify.hi
./example3_filter_refactored/ExpSimplifyDSL.hi
./example3_filter_refactored/ExpSimplifyUtils.hi
./example3_filter_refactored/expTest.hi
./example3_filter_refactored/FiltExamples.hi
./example3_filter_refactored/FiltFIR.hi
./example4_polynomials/testExtendedGCD.hi
./example4_polynomials/testPoly.hi
./opencl/dist/build/opencl/opencl-tmp/Main.hi
./opencl/o0/Main.hi
./example0_power/A.o
./example0_power/proglet.o
./example1_filter/Filt.o
./example1_filter/proglet.o
./example1_filter/SimplifyExp.o
./example2_filter/DSL.o
./example2_filter/Filt.o
./example2_filter/openclBackEnd.o
./example2_filter/proglet.o
./example2_filter/SimplifyExp.o
./example2_filter/Test.o
./example2_filter/TopLevel.o
./example2_filter/Utils.o
./example2_power/A.o
./example2_power/proglet.o
./example3_filter_refactored/codeGenOpenCL.o
./example3_filter_refactored/ExpSimplify.o
./example3_filter_refactored/ExpSimplifyDSL.o
./example3_filter_refactored/ExpSimplifyUtils.o
./example3_filter_refactored/expTest.o
./example3_filter_refactored/FiltExamples.o
./example3_filter_refactored/FiltFIR.o
./example4_polynomials/testExtendedGCD.o
./example4_polynomials/testPoly.o
./opencl/dist/build/opencl/opencl-tmp/Main.o
./opencl/o0/Main.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/bindings.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/commandqueue.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/context.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/device.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/event.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/kernel.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/memoryobject.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/platform.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/program.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/sampler.o
./opencl-devicequery/node_modules/webcl-nodep/build/Release/obj.target/webcl/src/webcl.o
./example0_power/A.hi
./example0_power/proglet.hi
./example1_filter/Filt.hi
./example1_filter/proglet.hi
./example1_filter/SimplifyExp.hi
./example2_filter/DSL.hi
./example2_filter/Filt.hi
./example2_filter/openclBackEnd.hi
./example2_filter/proglet.hi
./example2_filter/SimplifyExp.hi
./example2_filter/Test.hi
./example2_filter/TopLevel.hi
./example2_filter/Utils.hi
./example2_power/A.hi
./example2_power/proglet.hi
./example3_filter_refactored/codeGenOpenCL.hi
./example3_filter_refactored/ExpSimplify.hi
./example3_filter_refactored/ExpSimplifyDSL.hi
./example3_filter_refactored/ExpSimplifyUtils.hi
./example3_filter_refactored/expTest.hi
./example3_filter_refactored/FiltExamples.hi
./example3_filter_refactored/FiltFIR.hi
./example4_polynomials/testExtendedGCD.hi
./example4_polynomials/testPoly.hi
./opencl/dist/build/opencl/opencl-tmp/Main.hi
./opencl/o0/Main.hi

*.hi

*.o
